In [1]:
import requests

In [7]:
requisicao = requests.get('https://brasilapi.com.br/api/ibge/uf/v1')

In [8]:
requisicao.status_code

200

In [9]:
requisicao.text

'[{"id":11,"sigla":"RO","nome":"Rondônia","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":12,"sigla":"AC","nome":"Acre","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":13,"sigla":"AM","nome":"Amazonas","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":14,"sigla":"RR","nome":"Roraima","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":15,"sigla":"PA","nome":"Pará","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":16,"sigla":"AP","nome":"Amapá","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":17,"sigla":"TO","nome":"Tocantins","regiao":{"id":1,"sigla":"N","nome":"Norte"}},{"id":21,"sigla":"MA","nome":"Maranhão","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":22,"sigla":"PI","nome":"Piauí","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":23,"sigla":"CE","nome":"Ceará","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":24,"sigla":"RN","nome":"Rio Grande do Norte","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":25,"sigla":"PB","nome":"Paraíba","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":26,"sigla":"PE","nome":"Pernambuco","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":27,"sigla":"AL","nome":"Alagoas","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":28,"sigla":"SE","nome":"Sergipe","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":29,"sigla":"BA","nome":"Bahia","regiao":{"id":2,"sigla":"NE","nome":"Nordeste"}},{"id":31,"sigla":"MG","nome":"Minas Gerais","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":32,"sigla":"ES","nome":"Espírito Santo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":33,"sigla":"RJ","nome":"Rio de Janeiro","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":35,"sigla":"SP","nome":"São Paulo","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}},{"id":41,"sigla":"PR","nome":"Paraná","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":42,"sigla":"SC","nome":"Santa Catarina","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":43,"sigla":"RS","nome":"Rio Grande do Sul","regiao":{"id":4,"sigla":"S","nome":"Sul"}},{"id":50,"sigla":"MS","nome":"Mato Grosso do Sul","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":51,"sigla":"MT","nome":"Mato Grosso","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":52,"sigla":"GO","nome":"Goiás","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}},{"id":53,"sigla":"DF","nome":"Distrito Federal","regiao":{"id":5,"sigla":"CO","nome":"Centro-Oeste"}}]'

In [10]:
data_json = requisicao.json()

In [11]:
data_json

[{'id': 11,
  'sigla': 'RO',
  'nome': 'Rondônia',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 12,
  'sigla': 'AC',
  'nome': 'Acre',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 13,
  'sigla': 'AM',
  'nome': 'Amazonas',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 14,
  'sigla': 'RR',
  'nome': 'Roraima',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 15,
  'sigla': 'PA',
  'nome': 'Pará',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 16,
  'sigla': 'AP',
  'nome': 'Amapá',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 17,
  'sigla': 'TO',
  'nome': 'Tocantins',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 21,
  'sigla': 'MA',
  'nome': 'Maranhão',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 22,
  'sigla': 'PI',
  'nome': 'Piauí',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 23,
  'sigla': 'CE',
  'nome': 'Ceará',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 24,
  'sigla': 'RN',
  'nome': 'Rio Grande do Norte',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 25,
  'sigla': 'PB',
  'nome': 'Paraíba',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 26,
  'sigla': 'PE',
  'nome': 'Pernambuco',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 27,
  'sigla': 'AL',
  'nome': 'Alagoas',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 28,
  'sigla': 'SE',
  'nome': 'Sergipe',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 29,
  'sigla': 'BA',
  'nome': 'Bahia',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 31,
  'sigla': 'MG',
  'nome': 'Minas Gerais',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 32,
  'sigla': 'ES',
  'nome': 'Espírito Santo',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 33,
  'sigla': 'RJ',
  'nome': 'Rio de Janeiro',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 35,
  'sigla': 'SP',
  'nome': 'São Paulo',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 41,
  'sigla': 'PR',
  'nome': 'Paraná',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 42,
  'sigla': 'SC',
  'nome': 'Santa Catarina',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 43,
  'sigla': 'RS',
  'nome': 'Rio Grande do Sul',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 50,
  'sigla': 'MS',
  'nome': 'Mato Grosso do Sul',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 51,
  'sigla': 'MT',
  'nome': 'Mato Grosso',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 52,
  'sigla': 'GO',
  'nome': 'Goiás',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 53,
  'sigla': 'DF',
  'nome': 'Distrito Federal',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}]

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(data_json)

In [14]:
df.head()

   id sigla      nome                                    regiao
0  11    RO  Rondônia  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC      Acre  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM  Amazonas  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  14    RR   Roraima  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  15    PA      Pará  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}

In [27]:
sigla_regiao = [sr['sigla'] for sr in df['regiao']]
nome_regiao = [nr['nome'] for nr in df['regiao']]
sigla_estado = [estado for estado in df['sigla']]
nome_estado = [estado for estado in df['nome']]

In [28]:
df_estados = pd.DataFrame({'Sigla': sigla_estado, 'Nome': nome_estado, 'Sigla Região': sigla_regiao, 'Nome Região': nome_regiao})

In [29]:
df_estados.head()

  Sigla      Nome Sigla Região Nome Região
0    RO  Rondônia            N       Norte
1    AC      Acre            N       Norte
2    AM  Amazonas            N       Norte
3    RR   Roraima            N       Norte
4    PA      Pará            N       Norte

In [32]:
requisicao1 = requests.get('https://brasilapi.com.br/api/ibge/municipios/v1/sp?providers=dados-abertos-br,gov,wikipedia')

In [33]:
requisicao1.status_code

200

In [35]:
data_json1 = requisicao1.json()

In [38]:
df_municipios_sp = pd.DataFrame(data_json1)

In [40]:
df_municipios_sp.head()

               nome codigo_ibge
0        ADAMANTINA     3500105
1            ADOLFO     3500204
2             AGUAÍ     3500303
3    ÁGUAS DA PRATA     3500402
4  ÁGUAS DE LINDÓIA     3500501

In [41]:
requisicao2 = requests.get('https://brasilapi.com.br/api/ibge/uf/v1/sp')

In [42]:
requisicao2.status_code

200

In [43]:
data_json2 = requisicao2.json()

In [44]:
df_estado_sp = pd.DataFrame(data_json2)

In [45]:
df_estado_sp.head()

       id sigla       nome   regiao
id     35    SP  São Paulo        3
nome   35    SP  São Paulo  Sudeste
sigla  35    SP  São Paulo       SE

Resultados: 3 tabelas extraídas

Fontes:

https://brasilapi.com.br/api/ibge/uf/v1
https://brasilapi.com.br/api/ibge/municipios/v1/sp?providers=dados-abertos-br,gov,wikipedia
https://brasilapi.com.br/api/ibge/uf/v1/sp

In [ ]:
df_estados
df_municipios_sp
df_estado_sp

In [48]:
from plyer import notification
from datetime import datetime

In [59]:
data = str(datetime.now())
def alerta(status_code,base):
    if status_code >= 500:
        mensagem = 'Erro no servidor'
    elif status_code >= 400:
        mensagem = 'Erro na requisição'
    elif status_code == 200:
        mensagem = 'Requisição concluída com sucesso'
    else:
        print ('Outros tipos de erro')
    notification.notify(
    title=f'ATENÇÃO: {mensagem}'
    , message = str('Carregamento da base %s. \n %s' % (base,data))
    , app_name=''
    , timeout=10)

In [60]:
status_code = requisicao2.status_code
base = 'estado sp'
alerta(status_code,base)

In [61]:
requisicao3 = requests.get('https://brasilapi.com.br/api/ibge/municipios/v1/{code}?providers=dados-abertos-br,gov,wikipedia')
status_code = requisicao3.status_code
base = 'municipios'
alerta(status_code,base)